<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>New Web Project</title>
	</head>
	<body>
		<h1>send eamil</h1>
		<div>
			
		{% if errors %}
			<ul>
				{% for error in errors %}
				<li>{{ error }}</li>
				{% endfor %}
			</ul>
		{% endif %}
		</div>
		<form action="/contact/" method="post">
			<!-- {% csrf_token %} -->
			<p>Subject:<input type="text" name="subject" value="{{ subject }}"/></p>
			<p>Your e-mail(optional):<input type="text" name="email" value="{{ email }}" /></p>
			<p>Message:<textarea name="message" rows="10" cols="50">{{ message }}</textarea></p>
			<input type="submit" value="Submit" />
		</form>
	</body>
</html>

